body{
	 background: #fff url(../images/mbg.png) 50% 0 no-repeat;
}
.padding-left-0{
	padding-left: 0px;
}
.padding-left-10{
	padding-left: 10px;
}
.padding-top-0{
	padding-top: 0px;
}
.padding-bottom-3{
	padding-bottom: 3px;
}
.padding-right-0{
	padding-right: 0px;
}
.margin-top-10{
	margin-top: 10px;
}
.div-signin {
  width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.div-shadow{
	box-shadow:0 -10px 30px #aaa;
	margin-top: 15%;
}
.div-signin h3{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.div-signin span{
	display:block;
	text-align: center;
	font-style: italic;
}
.foot-css{
	height: 20%;
}
.foot-css p{
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: white;
}
.nav-height{
	height: 80px;
}
.p-css{
	margin-top: 50px;
}
.nav-style{
	background-color: #6699FF;
	margin-top: 12px;
	height: 45px;
}
.nav-style ul li{
	line-height: 24px;
}
.nav-style ul li a:hover , .nav-style ul li a:focus{
	background-color: #337ab7;
}
.nav .open a, .nav .open a:focus, .nav .open a:hover{
	background-color: #337ab7;
}
.dropdown-menu{
	background-color: #337ab7;
}
.nav-style ul li a{
	color: white;
	font-size: 16px;
}
.font-style{
	font-size: 14px;
	font-weight: bold;
}
.font-info{
	color: #337ab7;
	font-size: 16px;
	padding: 10px;
}
.error-info{
	font-size: 12px;
	color: #f25d50;
}
.text-cut {
	white-space: nowrap; 
	overflow:hidden;
	text-overflow:ellipsis;
}
.vali-code{
	height: 34px;
	line-height: 34px;
	font-size: 16px;
}
